*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  /* text-transform:   capitalize; */
  color: #fff;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #333d4b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div{
 display: flex; 
 justify-content: center;
 align-items: center;
}


/* current weather component styling */
.current-weather{
  width: 300px;
  height: 400px;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom right,rgba(5, 129, 231, 0.637), rgba(7, 47, 244, 0.337)), url('./assets/images/img-1.jpg');
    background-position: center bottom;  
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -1px 2px 12px 3px #00000033;
}



.top-data{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.top-data .week-day{
  font-size: 2rem;
}
.top-data .date-div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.bottom-data{
  position: relative;
  bottom: 20px;
}
.bottom-data .temperature{
  font-size: 4rem;
  /* position: relative; */
  /* bottom: 20px; */
}
.bottom-data .weather-type-icon{
 margin: 10px 0;
}


/* forecast weather component styling */

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.logo span{
  color: rgba(5, 203, 238, 0.793);
}
.forecast-weather{
  background-color: #22272d;
  border-top-right-radius: 25px;  
  border-bottom-right-radius: 25px;  
  padding: 25px;
  height: 350px;
  width: 350px;
  box-shadow: 1px 2px 12px 3px #00000033;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-start; */
}
.fore-top{
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 50%;
grid-row-gap: 10px;
}
.fore-top span{
  color: #ccc;
}
.fore-middle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.fore-middle div{
  /* flex-basis: 33.33%; */
  width: 100px;
  height: 120px;
  background-color: #2a3145;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.fore-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fore-bottom input{
  font-size: 1rem;
  border-radius: 50px;
  width: 250px;
  outline: none;
  border: none;
  padding: 15px;
  background: linear-gradient(to bottom right,rgba(5, 203, 238, 0.793), rgba(7, 47, 244, 0.337));
}
::placeholder{
  color: white;
  opacity: 1;
}
::ms-input-placeholder{
  color: white;
}
.fore-bottom img{
  filter: invert(1);
  position: absolute;
  right: 40px;
  cursor: pointer;
}
.forecast-temp{
  font-size: 0.9rem;
}

/* Preloader animation */

.loader-container {
  width: 250px;
  height: 250px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15%;
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 50px;
  /* border: 2px solid blue; */
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  /* border: 2px solid black; */
  margin-top: -30px;
  margin-left: 130px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 35px;
  height: 30px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb; 
  /* #4c9beb */
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  /* #4c9beb */
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 50px;
  height: 50px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 1s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}
